<nav class="d-flex justify-content-center p-3">
    <ul class="pagination">
        <li class="page-item" 
        [appClass]="{disabled:currentPage===0}"
        >
            <a (click)="currentPage=currentPage-1" class="page-link">Prev</a>
        </li>
        <ng-container  *appTimes="images.length;let i=index;">
            <li class="page-item" 
        [appClass]="{active: i===currentPage }"
        *ngIf="checkWindowIndex(i)"
        >
            <a  (click)="currentPage=i" class="page-link">{{i+1}}</a>
        </li>
        </ng-container>
        <li class="page-item" 
        [appClass]="{disabled:currentPage===images.length - 1}"
        >
            <a (click)="currentPage=currentPage+1" class="page-link">Next</a>
        </li>
    </ul>
</nav>

<div class="container p-3 text-center">
    <h4>{{images[currentPage].title}}</h4>
    <img class="rounded shadow-lg" [src]="images[currentPage].url">
</div>
<div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">
        This is Case 0
    </div>
    <div *ngSwitchCase="2">
        This is Case 2
    </div>
    <div *ngSwitchCase="3">
        This is Case 3
    </div>
    <div *ngSwitchDefault>
        This is Default Case
    </div>
</div>

<ul *appTimes="8">
    <li>I am repeated</li>
</ul>

